/* =============================
   Login Form Container
============================= */
.auth-panel {
  background: #fff;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  width: 100%; 
  max-width: 450px; 
  box-sizing: border-box;
  border: 2px solid #FFCC4A;
  padding: 1em 3em 3em 3em;
  display :flex;
  flex-direction : column;

}

/* =============================
   Headings & Typography
============================= */

.auth-heading {
  font-weight: 700;
  text-align: center;
  font-size: 1.8rem;

}

.forgot-password-heading {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
}

/* =============================
   Inputs & Labels
============================= */
.auth-input-container {
   display: flex;
   flex-direction : column;
   gap:1em;
}
.auth-input{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

label {
  font-weight: 500;
  color: #333333;
  font-size: 0.9rem;
}

input {
  font-size: 1rem;
  border: 1px solid #DEDEDE;
  border-radius: 0.6rem;
  padding: 0.75em 1em;
  width: 100%;
  box-sizing: border-box;
}

/* =============================
   Button Styles
============================= */

button {
  width: 100%;
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
  border-radius: 0.6rem;
  border: none;
  padding: 0.8rem 1rem;
  background: linear-gradient(180deg, #FFCC4A 0%, #EDAA00 100%);
  cursor: pointer;
  display:flex;
  justify-content:center;
  gap: .5em;
  align-items : center;
}

.auth-panel button:disabled { 
  color:rgb(255, 255, 255) !important;
  opacity: 0.6;
  cursor: not-allowed !important;

}

/* =============================
   Auth Links
============================= */

.auth-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top : 1em;
  margin-bottom: 1em;
  font-size: 0.9rem;
}

.auth-link {
  text-decoration: none;
  transition: color 0.3s;
  color: black;
}

.auth-link:hover {
  text-decoration: underline;
  color: #EDAA00; 
}


@media(max-width:420px){

  .auth-panel  {
    padding: 0.5em 1.5em 1.5em 1.5em;
  }
  .auth-heading {
    font-size: 1.6rem; /* Slightly smaller heading */
  }

  .auth-panel {
    gap: 1.25rem; /* Slightly reduce gap within the form */
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 0.65rem 0.9rem; /* Slightly smaller padding in inputs */
    font-size: 0.95rem;
  }

  .auth-btn {
    padding: 0.7rem 0.9rem;
    font-size: 0.95rem;
  }
}


