/* Container */
.home-container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Title */
.home-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top :-1rem;
  text-align: center;
}

/* Input + Button Group */
.form-group {
  width: 100%;
  display: flex;
  flex-direction : column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  
}

.form-group input {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
}
.form-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.btn-generate,
.reference-btn,
.form-options .option-selector {
  padding: 0.65rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-generate {
     background-color: black;
     color : white;
}
.reference-btn{
  
  background-color: #FFCC4A;
  color: white;
}

.reference-btn:hover{
  background-color:rgb(250, 186, 23);
}
.btn-generate:hover {
  background-color:rgb(41, 40, 40);

}




/* Loading */
.generating-img-loading {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content : center;
  color: #555;
  font-size: 1rem;
  margin-top: 5rem;

}


/* Image Preview */
.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 480px;      /* fixed max width for desktop */
  max-height: 480px;     /* fixed max height for desktop */
  margin: auto;
  border-radius: 0.5rem;
  overflow: hidden;      /* prevent scroll, clip overflow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.image-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;  /* keep aspect ratio, fit inside */
}

.download-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.download-btn:hover {
  background-color: #222;
}

/* Placeholder */
.placeholder {
  color: #777;
  font-style: italic;
  text-align: center;
  margin-top: 1rem;
}





/* Responsive */
@media (max-width: 480px) {
  .home-heading {
    font-size: 1.25rem;
    margin-top : 0;
  }
  .form-group input {
    font-size: 0.9rem;
    padding: 0.65rem 0.75rem;
  }
  .form-options {
    flex-direction: column;
    align-items: stretch;
  }
   .btn-generate,
  .reference-btn,
  .form-options .option-selector {
    width: 100%;
    min-width: auto;
    font-size: 0.9rem;
    padding: 0.4rem 0.75rem;
  }

  .download-btn {
    padding: 0.4rem;
    font-size: 1rem;
  }
}
