.user-page {
  padding: 20px;

}
.create-user-btn {
  padding: 10px 16px;
  margin-bottom: 15px;
  background-color: #3b82f6; /* Blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-user-btn:hover {
  background-color: #2563eb; /* Darker blue */
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

.user-table thead {
  background-color: #f3f4f6; /* Light gray */
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9fafb; /* Slightly lighter */
}

.user-table tbody tr:hover {
  background-color: #e0e7ff; /* Light blue hover */
}

.delete-user{ 
    color: red;
    cursor : pointer;
}
.delete-user:hover{
    text-decoration : underline;

}
